datasets==3.5.1
factor_analyzer==0.5.1
matplotlib==3.10.3
numpy==2.2.6
optuna==4.3.0
pandas==2.2.3
peft==0.15.2
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.3
torch==2.5.1+cu121
tqdm==4.67.1
transformers==4.51.3
tree_sitter==0.21.3
tree_sitter_languages==1.10.2
